/* Cheesy Movie CSS */


html, body { height: 100% }

body {
    background-image: url("../images/cheesymovie.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;

   
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}



#increment-btn {
    background: darkred;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#save-btn {
    background: darkgreen;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#center-text{

    text-align: center;

}


.border-center {
    background-color: #FB7213;
    background: linear-gradient(to right, #FB7213 20%, #fff 40%, #ECD08C 50%, #ECD08C 55%, #fff 70%, #FB7213 100%);
    border: 2px solid blue; /* this sets the border style */
    margin: 3px auto; /* this centers the div horizontally */
    padding: 20px; /* this adds padding to the content within the div */
}

.navbar a:hover {
    border-bottom: 3px solid red;
  }

  .navbar{
    
    right: 0;
    left: 0;
    z-index: 2;
    font-family: Arial, sans-serif;
  }


