/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


body {

    
    background: rgb(215,211,208);
    background: linear-gradient(90deg, rgba(215,211,208,1) 0%, rgba(253,253,253,1) 28%, rgba(249,247,248,1) 100%);
    margin: 0;

}





#work-list{

    
    

}



#first-section {

    font-family: Arial, sans-serif;
    position: relative;
    text-align: center;
    color: white;
    
}


.about-text{
    
    font-family: Arial, sans-serif;
    text-align: justify;
    

}


@media screen and (max-width: 299px) {
    .resizeicon {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .resizeicon {
        font-size: 2em;
    }
}

@media screen and (min-width: 800px) {
    .resizeicon {
        font-size: 4em;
    }
}



/* For repetitive code */
.last-layer { 
   

    position: relative;
    margin-top: 5em;
    z-index: 1;


}




.footer-area {

    margin-top: 5em;

}

.footer-info {

    font-family: Arial, sans-serif;

}


/* Centered text */


.centered {
    position: absolute;
    top: 57%;
    left: 30%;
    
    transform: translateY(-50%);
}



.navbar{


   
        position: fixed;
        right: 0;
        left: 0;
        z-index: 2;
        font-family: Arial, sans-serif;
       

}

.navbar a:hover {
    border-bottom: 3px solid red;
  }
  



  /* Trasform Effect */

  .presentation-text{

    overflow: hidden;
    white-space: nowrap;
    
    border-right: 0.2em solid white;
    margin: 0 auto;


  }


  /* Animation */
.intro-text{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 16em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }


  @media (min-width: 800px) {
    :root {
        --fs-h1: 4.5;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}



.parallax {
    /* The image used */
    background-image: url("../images/laptop1.jpg");
  
    /* Set a specific height */
    min-height: 100vh; 

    max-height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
  }

  .fixed-text{

    position: fixed;
    height: 50vh;
    left: 30%;
    top: 30%;
    color: white;
    z-index: 0;

  }





@media only screen and (max-width: 768px) {

    .parallax {
        /* The image used */
        background-image: url("../images/laptop1.jpg");
      
        /* Set a specific height */
        min-height: 40vh; 
    
        max-height: 40vh;
      
        /* Create the parallax scrolling effect */
        background-position-y: 0;
        background-position-x: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 40%;
    
        position: relative;
      }
    
      .fixed-text{
    
        position: fixed;
        height: 20vh;
        left: 30%;
        top: 10%;
        color: white;
        z-index: 0;
    
      }


    
}






/* Safari (from 6.1 to 10.0) */

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { 
  .parallax {
    /* The image used */
    background-image: url("../images/laptop1.jpg");
  
    /* Set a specific height */
    min-height: 30vh; 

    max-height: 40vh;
  
    /* Create the parallax scrolling effect */
    background-position-y: 0;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

    position: relative;

    transform: translate3d(0, 0, 0);
    z-index: 0;
  }

  .fixed-text{

    position: fixed;
    height: 20vh;
    left: 30%;
    top: 10%;
    color: white;
    transform: translate3d(0, 0, 0);
    z-index: 1;

  }

  .last-layer { 
    position: relative;
    margin-top: 5em;
    transform: translate3d(0, 0, 0);
    z-index: 2;
  }

}


/* Safari (10.1+) */

@media not all and (min-resolution:.001dpcm) { 

    .parallax {
        /* The image used */
        background-image: url("../images/laptop1.jpg");
      
        /* Set a specific height */
        min-height: 30vh; 
    
        max-height: 40vh;
      
        /* Create the parallax scrolling effect */
        background-position-y: 0;
        background-position-x: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    
        position: relative;
      }
    
      .fixed-text{
    
        position: fixed;
        height: 20vh;
        left: 30%;
        top: 10%;
        color: white;
        transform: translate3d(0, 0, 0);
        z-index: 0;

      }

      .last-layer { 
        position: relative;
        margin-top: 5em;
        transform: translate3d(0, 0, 0);
        z-index: 1;
      }

}

